@use "sass:math";

@tailwind base;
@tailwind components;
@tailwind utilities;

//Light colors

//Light Mode Text
$very-dark-blue-text: hsl(200, 15%, 8%);
//Light Mode Input
$dark-gray: hsl(0, 0%, 52%);
//Light Mode Background
$very-light-gray: hsl(0, 0%, 98%);

//Dark theme

//Dark Mode Text & Light Mode Elements
$white: hsl(0, 0%, 100%);
//Dark Mode Elements
$dark-blue: hsl(209, 23%, 22%);
//Dark Mode Background
$very-dark-blue-bg: hsl(207, 26%, 17%);

//General variables
$light-shadow: rgba(255, 255, 255, 0.1);
$dark-shadow: rgba(0, 0, 0, 0.1);
$dark-light-shadow: rgba(0, 0, 0, 0.05);
$none-shadow: inherit;

$light-opacity: 0.7;
$dark-opacity: 1;

$border-radius: 0.375rem;

$box-shadow: 0 0.25rem 0.75rem $dark-shadow, 0 0.2rem 0.1rem $dark-light-shadow;

$card-width: 15.875rem;

$transition: color 0.2s ease-in-out;
$transition-bg: background-color 0.2s ease-in-out;

@function transition($property) {
  @return $property 0.2s ease-in-out;
}

.theme {
  --element: #{$white};
  --background: #{$very-light-gray};
  --text: #{$very-dark-blue-text};
  --input: #{$dark-gray};
  --hover: #{$none-shadow};
  --opacity: #{$light-opacity};
  --option: #{$dark-shadow};

  &__light {
    --element: #{$white};
    --background: #{$very-light-gray};
    --text: #{$very-dark-blue-text};
    --input: #{$dark-gray};
    --hover: #{$none-shadow};
    --opacity: #{$light-opacity};
    --option: #{$dark-shadow};
  }
  &__dark {
    --element: #{$dark-blue};
    --background: #{$very-dark-blue-bg};
    --text: #{$white};
    --input: #{$white};
    --hover: #{$light-shadow};
    --opacity: #{$dark-opacity};
    --option: #{$light-shadow};
  }
}

.app {
  background-color: var(--background);
  transition: $transition-bg;
  grid-template-rows: 80px 1fr;
}

.header {
  background-color: var(--element);
  box-shadow: $box-shadow;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  h1 {
    a {
      color: var(--text);
      transition: transition(color);
    }
  }

  button {
    color: var(--text);
    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    svg {
      fill: var(--text);
    }
  }
}

.card {
  background-color: var(--element);
  box-shadow: $box-shadow;
  color: var(--text);
  transition-property: transform, background-color, color, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  animation: fade-in 0.2s ease-in-out forwards;

  &:hover {
    transform: scale(1.04);
  }

  &__flag {
    img {
      color: transparent;
      background-color: var(--option);
      transition: transition(background-color);
    }
  }
}

.filter-search {
  .search-bar {
    background-color: var(--element);
    box-shadow: $box-shadow;
    transition: transition(background-color);

    svg {
      fill: var(--input);
      transition: transition(fill);
    }

    .close-btn {
      left: initial;
      color: var(--input);
      transition: transition(color);
    }

    input {
      z-index: 4;
      border-radius: $border-radius;
      color: var(--text);
      transition-property: color, background-color, opacity;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;

      &::placeholder {
        color: var(--input);
        opacity: 1;
        transition: transition(color);
      }

      &:focus-visible {
        outline: none;
      }
    }
  }
}

.filter {
  background-color: var(--element);
  box-shadow: $box-shadow;
  transition: transition(background-color);

  button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.375rem;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    padding-left: 24px;
    color: var(--text);
    transition-property: color, opacity, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    font-size: 14px;
    line-height: 14px;

    &:hover {
      transition: none;
      opacity: var(--opacity);
      background-color: var(--hover);
    }

    &.open svg {
      transform: rotateZ(180deg);
    }

    svg {
      position: absolute;
      height: 16px;
      right: 18px;
      top: 1.25rem;
      transition: transform 0.2s ease-in-out;
    }
  }

  .options {
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    position: relative;
    margin-top: 4px;
    z-index: 9999999999999999999999999;
    width: 100%;
    border-radius: $border-radius;
    background-color: var(--element);
    box-shadow: $box-shadow;
    color: var(--text);
    transition-property: transform, opacity, background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    padding: 12px;

    .option {
      width: 100%;
      padding: 10px 12px;
      cursor: pointer;
      font-size: 14px;
      line-height: 14px;
      border-radius: math.div($border-radius, 2);
      transition: transition(background-color);

      &:hover {
        transition: none;
        background-color: var(--option);
      }
    }
  }

  .selected {
    transform: scaleY(1);
    opacity: 1;
  }
}

.back {
  width: 8rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--element);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  text-decoration: none;
  margin-bottom: 3rem;
  transition: transition(background-color);

  button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: $border-radius;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    cursor: pointer;
    color: var(--text);
    transition-property: color, background-color, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:hover {
      transition: none;
      opacity: var(--opacity);
      background-color: var(--hover);
    }

    svg {
      position: absolute;
      height: 1rem;
      width: 1rem;
      left: 2rem;
    }

    p {
      padding-left: 0.5rem;
    }
  }
}

.image-wrap {
  img {
    box-shadow: $box-shadow;
    color: transparent;
    background-color: var(--option);
    transition: transition(background-color);
  }
}

.text-wrap {
  color: var(--text);
  transition: transition(color);
}

.country-border {
  background-color: var(--element);
  button {
    color: var(--text);
  }
}

.pagination {
  span {
    color: var(--text);
  }
}

.no-result {
  color: var(--text);
}
